# Build output
/bin/
/build/

# Dependency directories
/vendor/

# Go test binary
*.test

# Go workspace
*.swp

# IDE directories and files
.idea/
.vscode/

# Log files
*.log

# Configuration files (API keys, secrets, etc.)
.env

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

go.mod
go.sum
